/* css reset */
* {
    margin: 0;
    padding: 0;
}

/* CSS variables */
:root {
    --navbar-height: 59px;
}

html {
    scroll-behavior: smooth;
}

/* navigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    font-family: serif;
    z-index: 100;
}

#navbar::before {
    content: "";

    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* navigation bar; logo and image */
#logo {
    margin: 2px 34px;
}

#logo img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 3px 6px;
    color: darkblue;
}

/* navigation bar: list styling */
#navbar ul {
    display: flex;
}



#navbar ul li {
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

#home::before {
    content: "";

    background: url(download.jpg) no-repeat center center / cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 93%;
    width: 100%;
    z-index: -1;
    opacity: 0.79;
}

/* home section */
#home {
    display: flex;
    flex-direction: column;
    height: 590px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#home h1 {
    color: white;
    text-align: center;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: serif;
}

/* services section */
#services {
    /* margin-top: 34px; */
    display: flex;
    margin-bottom: 0px;


}


#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 23px;
    background-color: rgb(238, 233, 233);

}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
    border-radius: 50%;
}

#services .box p {
    font-family: serif;

}

/* clients scection */
#client-section {
    position: relative;
    height: 344px;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url(download.jpg) no-repeat center center/ cover;
    width: 100%;
    height: 343.5px;
    z-index: -1;
    opacity: 0.4;

}

#clients {
    display: flex;
    justify-content: center;
    align-items: center
}

.client-item {
    padding: 34px;
}

#clients img {
    height: 124px;
}


/* Utility class */


.h-primery {
    font-size: 3.8rem;
    padding: 12px;
    font-family: serif;

}

.h-secondry {
    font-size: 2.3rem;
    padding: 12px;
    font-family: serif;

}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(162, 57, 57);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(163, 34, 34);
}

.center {
    text-align: center;
}

/* services section */

/* contact section */
#contact {
    position: relative;
}

#contact::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(download.jpg) no-repeat center center /cover;
}

footer {
    background-color: black;
    color: white;
    padding: 9px 20px;


}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font: 1.1rem;
}

#contact-box form {
    width: 40%;

}

#contact-box label {
    font-size: 1.3rem;
    font-family: sans-serif;

}

#contact-box .button {
    width: 103%;
    padding: 0.5rem;
    border-radius: 9px;
    font: 1.1rem;
    background-color: rgb(185, 66, 66);
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid white;
}

#contact-box .button:hover {
    background-color: brown;
    box-shadow: 0px 0px 50px brown;
}

h6 {
    text-align: center;
    margin-top: 8px;
    font-family: serif;
    font-size: 25px;
}